<div class="col-md-10 col-sm-10 col-sm-offset-1 col-xs-12">
	<div class="jumbotron">
		<%= image_tag "welcome1.jpg", size: "200x200", class: 'img img-circle' %>
		<h1>Welcome to Rukmini Real Estates</h1>
		<%= image_tag "welcome2.jpg", size: "200x200", class: 'img img-circle' %>
	</div>
</div>